menu "Iridium Library"

  config ISBD_THREAD_STACK_SIZE
    int "Iridium SBD service thread stack size"
    default 4096
    help 
      "Configures the thread stack size for Iridium SBD service"

endmenu